@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600;700&display=swap');

/* HEADER */

.App-header {
  background-color: rgb(201, 157, 27);
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.App-header a {
  font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color:azure;
  text-decoration: none;
}

.App-header a:hover {
  color:black;
}

.background-header {
  display: flex;
  background-size: cover;
  min-width: 100%;
  min-height: 58vh;
}

.background-header a {
  display: flex;
  align-items: end;
  margin-left: 7%;
}

.image-logo {
  width: 130px;
  height: 130px;
  margin-left: 8%;
  border-top: solid rgb(201, 157, 27) 5px;
  border-right: solid rgb(201, 157, 27) 5px;
  border-left: solid rgb(201, 157, 27) 5px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

/* INPUT HEADER */

input {
  border-radius: 8px;
  border: none;
  height: 20px;
  text-align: center;
}

#button-perfil {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
  padding: 3px 5px;
}

#button-perfil:hover {
  background-color: #ffffff;
  border-radius: 20px
}

input:hover {
  background-color: #ffffffe4;
}

.label-input-button {
  display: flex;
  align-items: center;
  text-align: center;
}

#button-pesquisar {
  width: 25px;
  height: auto;
  margin-left: 7px;
  padding: 3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#button-pesquisar:hover {
  background-color: #ffffff;
  border-radius: 10px;
}

/* COMPONENT BANNER*/

.banner-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  align-items: center;
  height: 100px;
  width: auto;
  justify-content: center;
  margin: 0px 100px;
}

.banner-container h3, p {
  margin: 0;
  color: #cfa643;
  font-size: 13px
}

.banner-container img {
  width: 30px; 
  height: auto;
  background-color: #ddddddd5;
  padding: 0px;
}

.banner-back-img {
  border-radius: 50%;
  background-color: #ddddddd5;
  padding: 10px;
}

.banner-img-text {
  display: flex;
  align-items: center;
  height: 20px;
}

.banner-text {
  margin-left: 5px;
}

/* COMPONENT RELEASE */

.release {
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 2px black;
  padding: 20px;
}

.release::after {
  content: "";
  display: flex;
  width: 5rem;
  height: 0.3rem;
  background-color: #6c63ff;
  margin: 0 auto;
  border-radius: 10px;
}

.container-release {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
  background-color: #cdcbf9d0;
  padding: 30px 0px;
  border-radius: 5px;
}

.release-image {
  width: 180px;
  height: auto;
  border: solid rgb(0, 0, 0) 1px;
  display: flex;
}

.release-box {
  display: grid;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.release-box button {
  border: none;
  padding: 10px;
  margin-top: 5px;
  background-color: #6c63ff;
  border-radius: 10px;
  color: white;
}

.release-box button:hover {
  border: none;
  background-color: rgb(255, 123, 0);
  color: black;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.release-box p {
  color: rgba(7, 7, 2, 0.641);
  font-family: 'Oswald', sans-serif;
}

/* FOOTER */

footer {
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2.5rem 3.5rem;
  background-color: rgb(11, 11, 11, 0.9);
  color: #fff;
}

.footer-content h3 {
  color: rgb(210, 168, 30);
}

.footer-content ul {
  display: flex;
  flex-direction: column;
  gap: 0.65rem;
  list-style-type: none;
}

.footer-content a {
  text-decoration: none;
  color:#fff
}

.footer-contacts {
  margin: 10px
}

.footer-contacts img {
  width: 25px;
  height: auto;
  margin-top: 18px
}

.footer-links {
  margin-left: 0.8rem;
}

.footer-service img {
  width: 20px;
  height: auto;
  margin-right: 0.5rem;
}