.App-header {
  background-color: rgb(201, 157, 27);
  color: white;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

a {
  font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color:azure;
  text-decoration: none;
  
}

.App-header button {
  border: none;
  border-radius: 3px;
  margin-left: 8px;
  height: 22px;
  width: 25px;
  cursor: pointer;
}

.background-header {
  display: flex;
  background-size: cover;
  min-width: 100%;
  min-height: 40vh;
  align-items: end;
}

.image-logo {
  width: 130px;
  height: 130px;
  margin-left: 5%;
  border-top: solid rgb(201, 157, 27) 5px;
  border-right: solid rgb(201, 157, 27) 5px;
  border-left: solid rgb(201, 157, 27) 5px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

input {
  border-radius: 8px;
  border: none;
  height: 20px;
}